In [11]:
import mysql.connector
mydb = mysql.connector.connect(host='Localhost', user='root', password='M@tth3wD1999')
print(mydb)

if (mydb):
    print('Connection Successful')
else:
    print('Connection Unsuccessful')

<mysql.connector.connection.MySQLConnection object at 0x01751790>
Connection Successful

In [6]:
import mysql.connector

datadb = mysql.connector.connect(host="localhost", user="root", password="M@tth3wD1999")

mycursor = datadb.cursor()
mycursor.execute("Create database DataVaultDB")

DatabaseError: 1007 (HY000): Can't create database 'datavaultdb'; database exists

In [7]:
import mysql.connector
datadb = mysql.connector.connect(host="localhost", user="root", password="M@tth3wD1999")

mycursor.execute("Show databases")

for db in mycursor:
    print(db)

('datavaultdb',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('user2db',)
('user3db',)
('usersdb',)
('world',)

In [16]:
#Creating Tables
import mysql.connector

datadb = mysql.connector.connect(host="localhost", user="root", password="M@tth3wD1999", database="datavaultdb")

mycursor=datadb.cursor()
mycursor.execute("Create table productstorage(ProductIndex int(20), Product varchar(200), Catergory varchar(200), CompanyBrand varchar(200), Quantities int(20))")

In [19]:
import mysql.connector

datadb = mysql.connector.connect(host="localhost", user='root', password="M@tth3wD1999", database="datavaultdb")

mycursor = datadb.cursor()
mycursor.execute("Select * from productstorage")

myresult = mycursor.fetchall()

for row in myresult:
    print(row)

(1, 'Simba', 'Chips', 'Simba', 321)
(2, 'Coke', 'Cooldrinks', 'Coca-Cola', 231)
(3, 'Pepper-Steak', 'Pies', 'Pie City', 122)
(4, 'Pear', 'Fruit', 'Fruit & Veg', 213)
(5, 'Vanilla', 'Cupcakes', "Dell's Bakery", 132)
(6, 'Monster', 'Energy drink', 'Monster Beverage', 345)
(7, 'Spinach', 'Vegatables', 'Fruit & Veg', 322)
(8, 'Lays', 'Chips', 'PepsiCo', 324)
(9, 'Fanta', 'Coodrinks', 'Coca Cola', 342)
(10, 'Cadbury', 'Chocolates', 'Cadbury', 54)
(11, 'Chicken', 'Pies', 'Pie City', 657)
(12, 'Tex', 'Chocolate', 'Nestle', 879)
(13, 'Apples', 'Fruit', 'Fuit & Veg', 678)
(14, 'Chocolate', 'Cupcakes', "Dell's Bakers", 676)
(15, 'Orange', 'Fruit', 'Fruit & Veg', 768)
(16, 'Cabbage', 'Vegatables', 'Fruit & Veg', 533)
(17, 'Score', 'Energy drink', 'Monster Beverage', 345)
(18, 'Nik Naks', 'Chips', 'Nik Naks', 354)
(19, 'Tikka Chicken', 'Pies', 'Pie City', 345)
(20, 'Choc Chip', 'Cupcakes', "Dell's bakery", 232)
(21, 'Kit Kat', 'Chocolates', 'Nestle', 312)
(22, 'Carrots', 'Vegatables', 'Fruit & Veg', 314)
(23, 'Blue Berry', 'Cupcakes', "Dell's Bakery", 544)
(24, 'Pringles', 'Chips', 'Lays', 656)
(25, '5-Star', 'Chocolates', 'Cadbury', 778)
(26, 'Sprite', 'Cooldrink', 'Coca Cola', 896)
(27, 'Mango', 'Fruit', 'Fruit & Veg', 454)
(28, 'Steak and Kidney', 'Pies', 'Pies City', 223)
(29, 'Flings', 'Chips', 'Wellington', 133)